{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<div style="margin: 0 auto; text-align: center;">
  <h1 style="margin: 150px 0 50px">Search Engine Evaluation<br><small>using double blind testing</small></h1>

  <form method="post" action="/trial">
    <input type="text" name="query" value="" placeholder="Query" autofocus>

    <input type="hidden" name="valueA"      value="{{ valueA      }}">
    <input type="hidden" name="valueB"      value="{{ valueB      }}">
    <input type="hidden" name="valueC"      value="{{ valueC      }}">
    <input type="hidden" name="nameA"       value="{{ nameA       }}">
    <input type="hidden" name="nameB"       value="{{ nameB       }}">
    <input type="hidden" name="nameC"       value="{{ nameC       }}">
    <input type="hidden" name="meanBing"    value="{{ meanBing    }}">
    <input type="hidden" name="meanGoogle"  value="{{ meanGoogle  }}">
    <input type="hidden" name="meanYahoo"   value="{{ meanYahoo   }}">
    <input type="hidden" name="trialNumber" value="{{ trialNumber }}">

    <input type="submit" value="Search">
  </form>

  <p style="margin-top: 100px;">Designed by Jesse Feinman, James Kasakyan, Ian S. McBride, Jeff Stolzenberg.</p>
  <p><a href="https://github.com/TheWeiTheTruthAndTheLight/">Source code</a></p>
</div>
{% endblock %}
