{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<h1>Home</h1>
<form method="post" action="/trial">
  <input type="text" name="query" value="">

  <input type="hidden" name="valueA"      value="0">
  <input type="hidden" name="valueB"      value="0">
  <input type="hidden" name="valueC"      value="0">
  <input type="hidden" name="nameA"       value="Bing">
  <input type="hidden" name="nameB"       value="Google">
  <input type="hidden" name="nameC"       value="Yahoo">
  <input type="hidden" name="meanBing"    value="0">
  <input type="hidden" name="meanGoogle"  value="0">
  <input type="hidden" name="meanYahoo"   value="0">
  <input type="hidden" name="trialNumber" value="0">

  <input type="submit" value="Search">
</form>
{% endblock %}
