{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<h1>Trial</h1>
<form method="post" action="">
  <input type="text" name="query" value="">

  <label for="valueA">Engine A</label><input type="text" name="valueA" id="valueA" value="{{ valueA }}">
  <label for="valueB">Engine B</label><input type="text" name="valueB" id="valueB" value="{{ valueB }}">
  <label for="valueC">Engine C</label><input type="text" name="valueC" id="valueC" value="{{ valueC }}">

  <input type="hidden" name="nameA"       value="{{ nameA }}">
  <input type="hidden" name="nameB"       value="{{ nameB }}">
  <input type="hidden" name="nameC"       value="{{ nameC }}">
  <input type="hidden" name="meanBing"    value="{{ meanBing }}">
  <input type="hidden" name="meanGoogle"  value="{{ meanGoogle }}">
  <input type="hidden" name="meanYahoo"   value="{{ meanYahoo }}">
  <input type="hidden" name="trialNumber" value="{{ trialNumber }}">

  <input type="submit" value="Search">
</form>
{% endblock %}
